<?xml version="1.0" encoding="UTF-8" ?>
<!--<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">-->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Login Feature">
    <test name="Login Test Cases">
        <classes>
            <class name="com.torando.cases.Login">
                <methods>
                    <include name="test01"></include>
                    <include name="test02"></include>
                    <include name="test03"></include>
                    <include name="test04"></include>
                    <include name="test05"></include>
                    <include name="test06"></include>
                    <include name="test07"></include>
                    <include name="test08"></include>
                    <include name="test09"></include>
                </methods>
            </class>
        </classes>
    </test>

    <listeners>
        <listener class-name="com.torando.config.ExtentTestNGIReporterListener"/>
    </listeners>
</suite>